/.idea
/Practive_project/nbproject/private/
/Practive-project/nbproject/private/
/Practive-project/build/
/Bai_tap_lon/nbproject/private/
/Bai_tap_lon/build/
/Nslookup/nbproject/private/
/Nslookup/build/
/lap_trinh_mang/StreamDemo/nbproject/private/
/lap_trinh_mang/StreamDemo/build/
/lap_trinh_mang/StreamDemo/dist/
/lap_trinh_mang/BaiTapIO_01/nbproject/private/
/Bai_Tap_Lon/nbproject/private/
/Bai_Tap_Lon/build/
/Bai_Tap_Lon/dist/
